body {
    margin: 10vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

label, input {
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    border-radius: 4px;
}

div {
    border: 2px solid black;
    font-size: 40px;
    margin: 20px;
}

.active {
    background-color: gray;
    color: whitesmoke;
}